@mixin b($w: 5px, $c: red, $l: solid) {
  box-sizing: border-box;
  border: $w $c $l;
}

//@ in using file:
//@ $shhh: <boolean>
//@ $hide: <boolean>
//@ IMPORTANT: use at bottom of section class
//@ example:
// $shhh: true !default; = section greyed out
// $hide: true; 		 = total hide
//
// .section {
//   @if $shhh {
//     @include shhh($hide);
//   }
// }
//
// OR
// @include shhh(boolean);
@mixin shhh($hide: false) {
  @apply pointer-events-none;
  filter: grayscale(1);
  opacity: 0.25;

  @if $hide {
    display: none;
  }
}
